{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pocałunek Neptuna</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="{% static '/css/receptionist_panel.css' %}">
</head>
<body>
    <section class="add">
        <form class="add__form" method="POST" action="">
            {% csrf_token %}
            <h1 class="add__header">Dodaj Bilet</h1>

            <div class="add__container">
                <label class="add__label" for="price">Cena</label>
                {{ form.price }}

                <label class="add__label" for="zone">Strefa</label>
                {{ form.zone }}

                <label class="add__label" for="worker">Pracownik</label>
                {{ form.worker }}

                <label class="add__label" for="client">Klient</label>
                {{ form.client }}
            </div>

            <div class="add__buttons">
                <a class="add__link" href="{% url 'receptionist_panel' %}">
                    <input class="add__input" type="button" value="Wróć">
                </a>
                <input class="add__submit" type="submit" name="add" value="Dodaj">
            </div>
        </form>

        <nav class="mini-nav">
            <a href="{% url 'home' %}">Strona Główna</a>
        </nav>
    </section>
</body>
</html>