@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;1,400&display=swap');

:root {
    --font-color: #ccc;
    --background-color: rgba( 0, 0, 0, 0.86);
}

body {
    font-family: 'Montserrat', sans-serif;

    margin: 0;
    padding: 0;

    border: 0;
    background: linear-gradient(rgba( 0, 0, 0, 0.86) , rgba( 0, 0, 0, 0.86) ) , url( "../img/ticket_buy-01.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover!important;
}

/* panel */

.panel {
    display: flex;
    justify-content: center;

    width: 100%;
    min-height: 100vh;

    color: var(--font-color);
}

.panel__form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    width: 31.125rem;
    min-height: 90vh;
    margin-top: 1rem;
    padding: 1rem;

    text-align: center;

    border-radius: 0.2rem;
    background-color: rgba(7, 7, 7, 0.65);

    gap: 2rem;
}

.panel__link {
    text-decoration: none;

    color: var(--font-color);
}

.panel__container {
    font-size: 1rem;

    padding: 2.9rem 7rem;

    border: 0.1rem solid  var(--font-color);
}

.panel__link:first-child > .panel__container {
    padding: 2.5rem 1rem;
}

.panel__container:hover {
    cursor: pointer;

    border: 0.1rem solid #888;
}

.panel__icon {
    font-size: 7rem;
}

.panel__title {
    font-size: 2.5rem;

    margin: 0;
    margin-top: 2rem;

    letter-spacing: 0.2rem;
}

/* accountantancy */

.accountancy {
    display: flex;
    justify-content: center;

    width: 100%;
    min-height: 100vh;

    color: var(--font-color);
}

.accountancy__form {
    position: relative;

    display: flex;
    align-items: center;
    flex-direction: column;

    width: 35.125rem;
    min-height: 90vh;
    margin-top: 1rem;
    padding: 1rem;

    text-align: center;

    border-radius: 0.2rem;
    background-color: rgba(7, 7, 7, 0.65);

    gap: 2rem;
}

.accountancy__header {
    font-size: 3rem;

    margin: 0;
    margin-top: 1rem;

    letter-spacing: 0.2rem;
}

.accountancy__list {
    overflow-x: auto;
    overflow-y: auto;

    width: 90%;
    height: 20rem;
    margin-top: 1rem;

    border: 0.1rem solid #333;
}

.accountancy__table {
    width: 100%;
    margin-right: auto;
    margin-left: auto;

    border-collapse: collapse;

    border: 1px solid black;
}

.accountancy__th {
    font-weight: bold;

    padding: 8px;

    border: 1px solid #333;
    background-color: #050505;
}

.accountancy__td {
    padding: 8px;

    border: 1px solid #333;
}

input[type="radio"] {
    margin-right: 8px;
}

input[type="radio"]:hover {
    cursor: pointer;
}

.accountancy__buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    gap: 1rem;
}

.accountancy__input {
    font-size: 1.25rem;

    position: absolute;
    bottom: 10%;
    left: 50%;

    width: 15rem;
    height: 4.2rem;

    letter-spacing: 0.1rem;

    color: var(--font-color);
    border: solid 0.1rem #333;
    border-radius: 0.1rem;
    background-color: rgb(10, 10, 10);
    transform: translateX(
    -50%)
}

.accountancy__input:hover {
    cursor: pointer;
    transition: 0.7s;

    color: #111;
    background-color: #aaa;
}

.mini-nav {
    position: fixed;
    top: 88%;
    left: 82%;
}

.mini-nav > a {
    font-size: 1.5rem;

    padding: 0.6rem;

    text-decoration: none;

    color: var(--font-color);
    border: 0.1rem solid #999;
}

/* result */

.result {
    display: flex;
    justify-content: center;

    width: 100%;
    min-height: 100vh;

    color: var(--font-color);
}

.result__form {
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 35.125rem;
    min-height: 90vh;
    margin-top: 1rem;
    padding: 1rem;

    text-align: center;

    border-radius: 0.2rem;
    background-color: rgba(7, 7, 7, 0.65);

    gap: 1.5rem;
}

.result__header {
    font-size: 3rem;

    margin: 0;
    margin-top: 1rem;

    letter-spacing: 0.2rem;
}

.result__container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    padding-bottom: 1rem;
}

.result__label {
    font-size: 2rem;

    margin-left: -0.5rem;
    padding: 0.5rem 0;

    letter-spacing: 0.1rem;
}

.result__calendar,
.result__submit {
    font-size: 1.25rem;

    padding: 1rem;
}

.result__buttons {
    position: absolute;
    bottom: 10%;

    display: flex;
    flex-direction: row;

    gap: 1.4rem;
}

.result__buttons > input,
.result__link > input {
    font-size: 1.3rem;

    width: 10rem;
    height: 4rem;
    margin: 1rem auto;

    letter-spacing: 0.1rem;

    color: var(--font-color);
    border: solid 0.1rem #333;
    border-radius: 0.1rem;
    background-color: rgb(7, 7, 7);
}

.result__buttons > input:hover,
.result__link > :hover {
    cursor: pointer;
    transition: 0.7s;

    color: #111;
    background-color: #aaa;
}

@media(max-width: 1150px) {
    .mini-nav {
        position: absolute;
        top: 102%;
        left: 0;

        width: 100%;

        text-align: center;
    }

    .panel {
        min-height: 110vh;
    }

    .accountancy {
        min-height: 110vh;
    }
    
    .result {
        min-height: 110vh;
    }
}
