@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;1,400&display=swap');

* {
    border: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background-color: rgb(7, 7, 7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.to-top {
    left: 90%;
    bottom: 4rem;
    position: fixed;
    color: white;
    font-size: 3rem;
    opacity: 0;
    transition: 0.2s;
    z-index: 2;
}

.to-bottom {
    position: absolute;
    color: #ccc;
    font-size: 3rem;
    top: 85%;
    left: 90%;
    opacity: 1;
    transition: 0.2s;
}

.to-top-active {
    opacity: 1;
}

.to-bottom-active {
    opacity: 0;
}

/* homepage */

.hamburger {
    display: none;
    font-size: 2rem;
    padding-right: 3rem;
    position: absolute;
    right: 0;
    top: 1.5rem;
    cursor: pointer;
    z-index: 3;
    color: #ccc;
}

.hamburger:hover {
    cursor: pointer;
  }

.homepage {
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9)),url("../img/basen.jpg");
    background-position: center;
    background-attachment: fixed;
}

.homepage__header {
    position: absolute;
    top: 45%;
    width: 100%;
    text-align: center;
    color: rgb(184, 179, 179);
    font-weight: 400;
    font-size: 2.5rem;
    letter-spacing: 0.15rem;
}

.nav__list {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    gap: 2rem;
    margin-right: 3rem;
    padding: 1rem;
    letter-spacing: 0.1rem;
    font-size: 1.1rem;
}

.nav__link {
    text-decoration: none;
    color: #ccc;
}

.nav__link:hover {
    color: #aaa;
    border-bottom: 1px solid #555;
}


/* hidden */
.hidden {
    display: none;
}

/* Offers*/

.offers {
    width:80%;
    display: flex;
    justify-content: center;
    gap: 3rem;
    align-items: center;
    padding: 2rem;
}

.offers__img {
    width: 25rem;
    height: 30rem;
    opacity: 0.8;
}

.offers__container {
    text-align: center;
    width: 40%;
    color: #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.offers__header {
    font-size: 2rem;
    letter-spacing: 0.2rem;
    padding: 1rem;
    font-weight: 100;
}

.offers__text {
    font-weight: 100;
    text-align: justify;
    max-width: 25.5rem;
    line-height: 1.6rem;
}

.offers__submit {
    background-color: rgb(15, 15, 15);
    border: #ccc solid 1px;
    color: #ccc;
    width: 10rem;
    height: 2.5rem;
    margin-top: 2rem;
}

.offers__submit:hover {
    color:rgb(15, 15, 15);
    background-color: #ccc;
    cursor: pointer;
    transition: 0.5s;
}

/* aboutus */

.aboutus {
    height: 70vh;
    width: 100%;
    display: flex;
    padding: 2rem 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 4rem;
    background: linear-gradient(rgba(0,0,0,0.95),rgba(0,0,0,0.95)),url("../img/spa.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.aboutus__img {
    width: 22rem;
    height: 22rem;
    border-radius: 50%;
}

.aboutus__container {
    width: 35rem;
    color: #ccc;
    height: 26rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    align-items: center;
    line-height: 1.6rem;
}

.aboutus__header {
    letter-spacing: 0.1rem;
    font-size: 2rem;
}

.aboutus__text {
    margin-top: 1.5rem;
    width: 26rem;
    height: 15rem;
    text-align: justify;
}

.break {
    width: 100%;
    height: 13rem;
}

/* contact */

.contact {
    width: 100%;
    padding-top: 4rem;
    padding-bottom: 4rem;
    background: linear-gradient(rgba(0,0,0,0.95),rgba(0,0,0,0.95)),url("../img/contact-01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    gap: 6rem;
}

.contact__form {
    display: flex;
    flex-direction: column;
    color: #ccc;
}

.contact__header {
    font-weight: 300;
    font-size: 2rem;
    padding-bottom: 2rem;
}

.contact__label {
    font-weight: 100;
    margin-top: 1rem;
}

.contact__form > input[type="text"], input[type="email"] {
    background: none;
    border-bottom: 0.01rem solid rgb(78, 78, 78);
    width: 14rem;
    margin-top: 0.5rem;
}

.contact__form > textarea {
    background: none;
    width: 14rem;
    border-bottom: 0.01rem solid rgb(78, 78, 78);
    padding: 0.5rem;
    color: #ccc;
}

.contact__submit {
    width: 14rem;
    background-color: rgb(15, 15, 15);
    border: rgb(78, 78, 78) solid 1px;
    color: #ccc;
    height: 2.5rem;
    margin-top: 1rem;
}

.contact__submit:hover {
    color:rgb(15, 15, 15);
    background-color: #ccc;
    cursor: pointer;
    transition: 0.5s;
}

.contact__information {
    color: #ccc;
    width: 25rem;
    margin-left: 1rem;
}

.contact__header__information {
    font-weight: 300;
    font-size: 2rem;
}

.contact__text {
    font-weight: 100;
    margin-top: 1rem;
}

.contact__container {
    display: flex;
    margin-top: 3rem;
    font-weight: 100;
}

.contact__text__information {
    margin-left: 0.7rem;
    font-size: 1rem;
    padding-top: 0.5rem;
}

.contact__information .fa-solid {
    font-size: 2rem;
    color: #aaa;
}

input, textarea {
    outline: none;
    color: #ccc;
    padding: 0.5rem;
}

.message{
    margin-top: 12px;
    background-color: #111;
    width: 100%;
    color: #ccc;
    text-align: center;
    padding: 8px 0;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
}

/* complaint */

.complaint {
    display: flex;
    flex-direction: column;
    color: #ccc;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.complaint > h5 {
    font-size: 2rem;
}

.complaint-container {
    display: flex;
    margin-top: 1rem;
    gap: 7rem;
}

.complaint-information {
    width: 28rem;
    padding: 1.5rem;
    text-align: justify;
}

.complaint-container > form {
    display: flex;
    flex-direction: column;
}

.complaint-container > form > label {
    padding: 0.3rem;
    margin-top: 0.5rem;
    margin-left: -0.6rem;
}

.complaint-container > form > input, .complaint-container > form > textarea {
    color: #333;
    background-color: rgb(12, 12, 12);
    border: 0.1rem solid #222;
    color: #ccc;
}

.complaint-container > form > input[type="submit"] {
    width: 16rem;
    background-color: rgb(15, 15, 15);
    border: 0.1rem solid #222;
    color: #ccc;
    height: 2.5rem;
    margin-top: 1.6rem;
}

.complaint-container > form > input[type="submit"]:hover {
    color:rgb(15, 15, 15);
    background-color: #ccc;
    cursor: pointer;
    transition: 0.5s;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}


/* Media */

@media (max-width: 900px) {
    .nav {
      align-items: center;
      flex-direction: column;
      position: relative;
      transition: 0.7s;
    }

    .nav__active {
      background-color: #aaa;
    }

    .nav__list {
      flex-direction: column;
      padding-bottom: 0.5rem;
      padding: 0;
      position: absolute;
      top: -500px;
      transition: 0.7s;
      width: 100%;
      z-index: 1;
    }

    .nav__list__active {
      background-color: #0f0f0fc7;
      top: 0;
      padding-top: 5rem;
    }

    .nav__item {
      margin-right: 0;
      padding: 0.7rem 0;
      text-align: center;
    }

    .hamburger {
      display: block;
    }

    /* offers */

    .offers {
        flex-direction: column;
    }

    .offers__img {
        width: 19rem;
        padding: 0;
    }

    #gym {
        flex-direction: column-reverse;
    }

    .offers__text {
        width: 19rem;
    }

    .offers__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* aboutus */

    .aboutus {
        flex-direction: column;
        margin-top: 2rem;
    }

    .aboutus__img {
        width: 19rem;
    }

    .aboutus__container {
        width: 19rem;
    }

    .aboutus__text {
        width: 19rem;
    }

    /* contact */

    .contact {
        flex-direction: column;
        align-items: center;
    }

    .contact__form {
        align-items: center;
    }

    .contact__information {
        width: 19rem;
    }

    .contact__header {
        text-align: center;
    }

    .contact__header__information {
        text-align: center;
    }
 }