@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;1,400&display=swap');

* {
    font-family: 'Montserrat', sans-serif;

    margin: 0;
    padding: 0;

    color: #ccc;
    border: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 100vh;

    background: linear-gradient(rgba( 0, 0, 0, 0.86) , rgba( 0, 0, 0, 0.86) ) , url( "../img/registration-01.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover!important;
}

.form {
    display: flex;
    flex-direction: column;
}

.form__header {
    padding: 1rem;

    text-align: center;
    letter-spacing: 0.1rem;
}

.form__input {
    padding: 0.7rem;

    border-bottom: 0.1rem solid #888;
    outline: none;
    background: none;
}

.form__label {
    margin-top: 1rem;
    margin-left: -0.3rem;
}

.form__submit {
    font-size: 1rem;

    width: 10rem;
    height: 3rem;
    margin: 2rem auto;
    margin-bottom: 1rem;

    border: solid 0.1rem #333;
    border-radius: 0.1rem;
    background-color: rgb(7, 7, 7);
}

.form__submit:hover {
    cursor: pointer;
    transition: 0.7s;

    color: #111;
    background-color: #aaa;
}

.form__link {
    text-decoration: none;
}

.form__link:nth-child(2) {
    margin-left: 2rem;
}

.form__link:hover {
    color: #bbb;
}

.mini-nav {
    position: fixed;
    top: 88%;
    left: 82%;

    width: 19rem;
}

.mini-nav > a {
    font-size: 1.5rem;

    padding: 0.6rem;

    text-decoration: none;

    border: 0.1rem solid #999;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}

@media(max-width: 1109px) {
    .mini-nav {
        left: 0;

        width: 100%;

        text-align: center;
    }
}
