@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;1,400&display=swap');

body {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover!important;
    background: linear-gradient(rgba(0, 0, 0, 0.86), rgba(0, 0, 0, 0.86)),url("../img/ticket_buy-01.jpg");
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Montserrat', sans-serif;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    color: #ccc;
}

.worker {
    display: none;
}

form {
    width: 40%;
    display: flex;
    flex-direction: column;
    background-color: rgba(7, 7, 7, 0.65);
    min-height: 90vh;
    margin-top: 1rem;
    border-radius: 0.2rem;
    padding: 1rem;
    align-items: center;
    position: relative;
}

form > h1 {
    font-size: 3rem;
    letter-spacing: 0.2rem;
    margin: 0;
    margin-top: 1rem;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.form-container > label {
    padding: 0.2rem 0;
    margin-top: 0.5rem;
    letter-spacing: 0.1rem;
    margin-left: -0.2rem;
}

.form-container > input {
    background: none;
    padding: 0.7rem;
    outline: none;
    width: 22rem;
    border: none;
    border-bottom: 0.1rem solid #777;
    color: #ccc;
}

.form-buttons {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
}

.form-buttons > input, a > input {
    width: 10rem;
    margin: 1rem auto;
    height: 3rem;
    font-size: 1rem;
    background-color: rgb(7, 7, 7);
    border-radius: 0.1rem;
    border: solid 0.1rem #333;
    color: #ccc;
    letter-spacing: 0.1rem;
}

.form-buttons > input:hover, a > input:hover {
    cursor: pointer;
    background-color: #aaa;
    color: #111;
    transition: 0.7s;
}

.mini-nav {
    position: fixed;
    top: 88%;
    left: 82%;
}

.mini-nav > a {
    font-size: 1.5rem;
    text-decoration: none;
    border: 0.1rem solid #999;
    padding: 0.6rem;
    color: #ccc;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}

select {
    background-color: #111;
    color: #ccc;
}