@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;1,400&display=swap');
@import './variables.css';

body {
    font-family: 'Montserrat', sans-serif;

    margin: 0;
    padding: 0;

    min-height: 100vh;

    border: 0;
    background: linear-gradient(var(--background-color-primary) , var(--background-color-primary) ) , url( "../img/ticket_buy-01.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover!important;
}

::-webkit-scrollbar {
    width: 12px;

    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: #555;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

/* workers */

.workers {
    display: flex;
    justify-content: center;

    width: 100%;

    color: var(--font-color-primary);
}

.workers__form {
    position: relative;

    display: flex;
    align-items: center;
    flex-direction: column;

    width: 35.125rem;
    min-height: 90vh;
    margin-top: 1rem;
    padding: 1rem;

    text-align: center;

    border-radius: 0.2rem;
    background-color: rgba(7, 7, 7, 0.65);

    gap: 2rem;
}

.workers__header {
    font-size: 3rem;

    margin: 0;
    margin-top: 1rem;

    letter-spacing: 0.2rem;
}

.workers__list {
    overflow-x: auto;
    overflow-y: auto;

    width: 90%;
    height: 20rem;
    margin-top: 1rem;

    border: 0.1rem solid var(--border-color-primary);
}

.workers__table {
    width: 100%;
    margin-right: auto;
    margin-left: auto;

    border-collapse: collapse;

    border: 1px solid black;
}

.workers__th {
    font-weight: bold;

    padding: 8px;

    border: 1px solid var(--border-color-primary);
    background-color: #050505;
}

.workers__td {
    padding: 8px;

    border: 1px solid var(--border-color-primary);
}

.workers__input__td {
    width: 5rem;
    padding: 0.3rem 0.2rem;

    color: #aaa;
    background-color: #050505;
}

.workers__input__td:hover {
    cursor: pointer;

    background-color: #080808;
}

.workers__buttons {
    position: absolute;
    bottom: 10%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    gap: 1rem;
}

.workers__input__link {
    font-size: 1.25rem;

    width: 15rem;
    height: 4.2rem;
    margin: 0.5rem auto;

    letter-spacing: 0.1rem;

    color: var(--font-color-primary);
    border: solid 0.1rem var(--border-color-primary);
    border-radius: 0.1rem;
    background-color: rgb(10, 10, 10);
}

.workers__input__link:hover {
    cursor: pointer;
    transition: 0.7s;

    color: #111;
    background-color: #aaa;
}

/* show */

.show {
    display: flex;
    justify-content: center;

    width: 100%;

    color: var(--font-color-primary);
}

.show__form {
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 35.125rem;
    min-height: 90vh;
    margin-top: 1rem;
    padding: 1rem;

    text-align: center;

    border-radius: 0.2rem;
    background-color: rgba(7, 7, 7, 0.65);

    gap: 2rem;
}

.show__header {
    font-size: 3rem;

    margin: 0;
    margin-top: 1rem;

    letter-spacing: 0.2rem;
}

.show__table {
    width: 60%;
    margin-top: 1rem;
    margin-right: auto;
    margin-left: auto;

    border-collapse: collapse;

    text-align: left;

    border: 1px solid black;
}

.show__th {
    font-weight: bold;

    padding: 8px;

    border: 1px solid var(--border-color-primary);
    background-color: #050505;
}

.show__td {
    padding: 8px;

    border: 1px solid var(--border-color-primary);
}

.show__link input {
    font-size: 1.25rem;

    width: 15rem;
    height: 4.2rem;
    margin: 0.5rem auto;

    letter-spacing: 0.1rem;

    color: #ccc;
    border: solid 0.1rem var(--border-color-primary);
    border-radius: 0.1rem;
    background-color: rgb(10, 10, 10);
}

.show__link input:hover {
    cursor: pointer;
    transition: 0.7s;

    color: #111;
    background-color: #aaa;
}

.mini-nav {
    position: fixed;
    top: 88%;
    left: 82%;
}

.mini-nav > a {
    font-size: 1.5rem;

    padding: 0.6rem;

    text-decoration: none;

    color: var(--font-color-primary);
    border: 0.1rem solid #999;
}

/* delete */

.delete {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    width: 100%;

    color: var(--font-color-primary);
}

.delete__form {
    position: relative;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    width: 35.125rem;
    min-height: 50vh;
    margin-top: 1rem;
    padding: 1rem;

    border-radius: 0.2rem;
    background-color: rgba(7, 7, 7, 0.65);
}

.delete__container {
    display: flex;
    flex-direction: column;

    margin-top: 4rem;
}

.delete__buttons {
    display: flex;

    margin-top: 3.5rem;

    gap: 1rem;
}

.delete__buttons > input,
.delete__link > input {
    font-size: 1rem;

    width: 10rem;
    height: 3rem;
    margin: 1rem auto;

    letter-spacing: 0.1rem;

    color: var(--font-color-primary);
    border: solid 0.1rem var(--border-color-primary);
    border-radius: 0.1rem;
    background-color: rgb(7, 7, 7);
}

.delete__buttons > input:hover,
.delete__link > input:hover {
    cursor: pointer;
    transition: 0.7s;

    color: #111;
    background-color: #aaa;
}

/* edit */

.edit {
    display: flex;
    justify-content: center;

    width: 100%;

    color: var(--font-color-primary);
}

.edit__form {
    position: relative;

    display: flex;
    align-items: center;
    flex-direction: column;

    width: 35.125rem;
    min-height: 90vh;
    margin-top: 1rem;
    padding: 1rem;

    border-radius: 0.2rem;
    background-color: rgba(7, 7, 7, 0.65);
}

.edit__header {
    font-size: 3rem;

    margin: 0;
    margin-top: 1rem;

    letter-spacing: 0.2rem;
}

.edit__container {
    display: flex;
    flex-direction: column;
}

.edit__container > label {
    margin-top: 0.5rem;
    margin-left: -0.2rem;
    padding: 0.2rem 0;

    letter-spacing: 0.1rem;
}

.edit__container > input {
    width: 22rem;
    padding: 0.7rem;

    color: var(--font-color-primary);
    border: none;
    border-bottom: 0.1rem solid #777;
    outline: none;
    background: none;
}

.edit__buttons {
    position: absolute;
    bottom: 10%;

    display: flex;

    margin-top: 1rem;

    gap: 1rem;
}

.edit__input,
.edit__submit {
    font-size: 1rem;

    width: 10rem;
    height: 3rem;
    margin: 1rem auto;

    letter-spacing: 0.1rem;

    color: var(--font-color-primary);
    border: solid 0.1rem var(--border-color-primary);
    border-radius: 0.1rem;
    background-color: rgb(7, 7, 7);
}

.edit__input:hover,
.edit__submit:hover {
    cursor: pointer;
    transition: 0.7s;

    color: #111;
    background-color: #aaa;
}

select {
    color: var(--font-color-primary);
    background-color: #111;
}

/* add */

.add {
    display: flex;
    justify-content: center;

    width: 100%;

    color: var(--font-color-primary);
}

.add__form {
    position: relative;

    display: flex;
    align-items: center;
    flex-direction: column;

    width: 35.125rem;
    min-height: 90vh;
    margin-top: 1rem;
    padding: 1rem;

    border-radius: 0.2rem;
    background-color: rgba(7, 7, 7, 0.65);
}

.add__header {
    font-size: 3rem;

    margin: 0;
    margin-top: 1rem;

    letter-spacing: 0.2rem;
}

.add__container {
    display: flex;
    flex-direction: column;
}

.add__container > label {
    margin-top: 0.5rem;
    margin-left: -0.2rem;
    padding: 0.2rem 0;

    letter-spacing: 0.1rem;
}

.add__container > input {
    width: 22rem;
    padding: 0.7rem;

    color: var(--font-color-primary);
    border: none;
    border-bottom: 0.1rem solid #777;
    outline: none;
    background: none;
}

.add__buttons {
    display: flex;

    margin-top: 1rem;

    gap: 1rem;
}

.add__submit,
.add__input {
    font-size: 1rem;

    width: 10rem;
    height: 3rem;
    margin: 1rem auto;

    letter-spacing: 0.1rem;

    color: var(--font-color-primary);
    border: solid 0.1rem var(--border-color-primary);
    border-radius: 0.1rem;
    background-color: rgb(7, 7, 7);
}

.add__submit:hover,
.add__input:hover {
    cursor: pointer;
    transition: 0.7s;

    color: #111;
    background-color: #aaa;
}

select {
    color: var(--font-color-primary);
    background-color: #111;
}

@media(max-width: 1150px) {
    .mini-nav {
        position: absolute;
        top: 95%;
        left: 0;

        width: 100%;

        text-align: center;
    }

    .mini-nav-show {
        top: 112%;
    }

    .show__form {
        min-height: 115vh;
    }
}
