@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;1,400&display=swap');

body {
    font-family: 'Montserrat', sans-serif;

    margin: 0;
    padding: 0;

    border: 0;
    background: linear-gradient(rgba( 0, 0, 0, 0.86) , rgba( 0, 0, 0, 0.86) ) , url( "../img/ticket_buy-01.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover!important;
}

::-webkit-scrollbar {
    width: 12px;

    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: #555;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

/* panel */

.panel {
    position: relative;

    display: flex;
    justify-content: center;

    width: 100%;
    min-height: 100vh;

    color: #ccc;
}

.panel__form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    width: 32.125rem;
    min-height: 90vh;
    margin-top: 1rem;
    padding: 1rem;

    text-align: center;

    border-radius: 0.2rem;
    background-color: rgba(7, 7, 7, 0.65);

    gap: 2rem;
}

.panel__link {
    text-decoration: none;

    color: #ccc;
}

.panel__container {
    padding: 3rem 2rem;

    border: 0.1rem solid #ccc;
}

.panel__link:first-child > .panel__container {
    padding: 3rem 6.4rem;
}

.panel__container:hover {
    cursor: pointer;

    border: 0.1rem solid #888;
}

.panel__icon {
    font-size: 7rem;
}

.panel__title {
    font-size: 3rem;

    margin: 0;
    margin-top: 1rem;

    letter-spacing: 0.2rem;
}

.mini-nav-panel {
    position: fixed;
    top: 88%;
    left: 82%;
}

.mini-nav-panel > a {
    font-size: 1.5rem;

    padding: 0.6rem;

    text-decoration: none;

    color: #ccc;
    border: 0.1rem solid #999;
}

@media(max-width: 1000px) {
    .panel__form {
        width: 22rem;
        min-height: 0;
    }
}

@media(max-width: 1150px) {
    .panel {
        height: 50rem;
    }

    .panel__form {
        justify-content: unset;
        padding-top: 2rem;
    }

    .mini-nav {
        position: absolute;
        top: 87%;
        left: 0;

        width: 100%;

        text-align: center;
    }

    .mini-nav-panel {
        position: absolute;
        top: 87%;
        left: 0;

        width: 100%;

        text-align: center;
    }

    .mini-nav-list {
        position: absolute;
        top: 115%;
        left: 0;

        width: 100%;

        text-align: center;
    }
}
