@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;1,400&display=swap');

body {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover!important;
    background: linear-gradient(rgba(0, 0, 0, 0.86), rgba(0, 0, 0, 0.86)),url("../img/ticket_buy-01.jpg");
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Montserrat', sans-serif;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    color: #ccc;
}

form {
    width: 40%;
    display: flex;
    flex-direction: column;
    background-color: rgba(7, 7, 7, 0.65);
    min-height: 90vh;
    margin-top: 1rem;
    border-radius: 0.2rem;
    padding: 1rem;
    align-items: center;
    text-align: center;
    gap: 2rem;
    position: relative;
}

form > h1 {
    font-size: 2.5rem;
    letter-spacing: 0.2rem;
    margin: 0;
    margin-top: 1rem;
}

form > h2{
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    margin: 0;
}

form > div > label {
    font-size: 2rem;
    letter-spacing: 0.1rem;
    margin-left: -0.5rem;
    padding: 0.5rem 0;
}

.date { 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.date > input {
    padding: 0.7rem;
    font-size: 1.25rem;
}

.date > input:hover {
    cursor: pointer;
}

.list {
    width: 90%;
    height: 20rem;
    overflow-x:auto;
    overflow-y:auto;
    border: 0.1rem solid #333;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
}

th {
    background-color: #050505;
    font-weight: bold;
    padding: 8px;
    border: 1px solid #333;
}

td {
    border: 1px solid #333;
    padding: 8px;
}

td > input {
    width: 5rem;
    background-color: #050505;
    color: #aaa;
    padding: 0.3rem 0.2rem;
}

td > input:hover {
    cursor: pointer;
    background-color: #080808;
}

.form-buttons {
    display: flex;
    gap: 1rem;
    padding-bottom: 1rem;
}

.form-buttons > input, a > input {
    width: 10rem;
    height: 3rem;
    font-size: 1rem;
    background-color: rgb(7, 7, 7);
    border-radius: 0.1rem;
    border: solid 0.1rem #333;
    color: #ccc;
    letter-spacing: 0.1rem;
}

.form-buttons > input:hover, a > input:hover {
    cursor: pointer;
    background-color: #aaa;
    color: #111;
    transition: 0.7s;
}

.mini-nav {
    position: fixed;
    top: 88%;
    left: 82%;
}

.mini-nav > a {
    font-size: 1.5rem;
    text-decoration: none;
    border: 0.1rem solid #999;
    padding: 0.6rem;
    color: #ccc;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}