@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;1,400&display=swap');
@import './variables.css';

body {
    font-family: 'Montserrat', sans-serif;

    margin: 0;
    padding: 0;

    border: 0;
    background: linear-gradient(rgba( 0, 0, 0, 0.86) , rgba( 0, 0, 0, 0.86) ) , url( "../img/ticket_buy-01.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover!important;
}

::-webkit-scrollbar {
    width: 12px;

    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: #555;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

/* plan */

.plan {
    display: flex;
    justify-content: center;

    width: 100%;
    min-height: 100vh;

    color: #ccc;
}

.plan__form {
    position: relative;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    width: 38.125rem;
    min-height: 90vh;
    margin-top: 1rem;
    padding: 1rem;

    text-align: center;

    border-radius: 0.2rem;
    background-color: rgba(7, 7, 7, 0.65);

    gap: 1.5rem;
}

.plan__header {
    font-size: 3rem;

    position: absolute;
    top: 4%;

    margin: 0;
    margin-top: 1rem;

    letter-spacing: 0.2rem;
}

.plan__form > p {
    margin-top: 5rem;
}

.plan__button {
    font-size: 1.25rem;

    width: 15rem;
    height: 4.2rem;
    margin: 0.5rem auto;

    letter-spacing: 0.1rem;

    color: #ccc;
    border: solid 0.1rem #333;
    border-radius: 0.1rem;
    background-color: rgb(10, 10, 10);
}

.plan__button:hover {
    cursor: pointer;
    transition: 0.7s;

    color: #111;
    background-color: #aaa;
}

.mini-nav {
    position: fixed;
    top: 88%;
    left: 82%;
}

.mini-nav > a {
    font-size: 1.5rem;

    padding: 0.6rem;

    text-decoration: none;

    color: #ccc;
    border: 0.1rem solid #999;
}

/* list */

.list {
    display: flex;
    justify-content: center;

    width: 100%;
    min-height: 100vh;

    color: #ccc;
}

.list__form {
    position: relative;

    display: flex;
    align-items: center;
    flex-direction: column;

    width: 38.125rem;
    min-height: 90vh;
    margin-top: 1rem;
    padding: 1rem;

    text-align: center;

    border-radius: 0.2rem;
    background-color: rgba(7, 7, 7, 0.65);

    gap: 2rem;
}

.list__header {
    font-size: 2.5rem;

    margin: 0;
    margin-top: 1rem;

    letter-spacing: 0.2rem;
}

.list__header__secondary {
    font-size: 1.5rem;

    margin: 0;

    letter-spacing: 0.2rem;
}

.list__label {
    font-size: 2rem;

    margin-left: -0.5rem;
    padding: 0.5rem 0;

    letter-spacing: 0.1rem;
}

.list__date {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.list__input__date {
    font-size: 1.25rem;

    padding: 0.7rem;
}

.list__input__date:hover {
    cursor: pointer;
}

.list__list {
    overflow-x: auto;
    overflow-y: auto;

    width: 90%;
    height: 20rem;

    border: 0.1rem solid #333;
}

.list__table {
    width: 100%;
    margin-right: auto;
    margin-left: auto;

    border-collapse: collapse;

    border: 1px solid black;
}

.list__th {
    font-weight: bold;

    padding: 8px;

    border: 1px solid #333;
    background-color: #050505;
}

.list__td {
    padding: 8px;

    border: 1px solid #333;
}

.list__input__td {
    width: 5rem;
    padding: 0.3rem 0.2rem;

    color: #aaa;
    background-color: #050505;
}

.list__input__td:hover {
    cursor: pointer;

    background-color: #080808;
}

.list__buttons {
    display: flex;

    padding-bottom: 1rem;

    gap: 1rem;
}

.list__input__buttons,
.list__input__link {
    font-size: 1rem;

    width: 10rem;
    height: 3rem;

    letter-spacing: 0.1rem;

    color: #ccc;
    border: solid 0.1rem #333;
    border-radius: 0.1rem;
    background-color: rgb(7, 7, 7);
}

.list__input__buttons:hover,
.list__input__link:hover {
    cursor: pointer;
    transition: 0.7s;

    color: #111;
    background-color: #aaa;
}

.mini-nav-list {
    position: fixed;
    top: 88%;
    left: 82%;
}

.mini-nav-list > a {
    font-size: 1.5rem;

    padding: 0.6rem;

    text-decoration: none;

    color: #ccc;
    border: 0.1rem solid #999;
}

/* show */

.show {
    display: flex;
    justify-content: center;

    width: 100%;
    min-height: 100vh;

    color: #ccc;
}

.show__form {
    position: relative;

    display: flex;
    align-items: center;
    flex-direction: column;

    width: 38.125rem;
    min-height: 90vh;
    margin-top: 1rem;
    padding: 1rem;

    text-align: center;

    border-radius: 0.2rem;
    background-color: rgba(7, 7, 7, 0.65);

    gap: 2rem;
}

.show__header {
    font-size: 3rem;

    margin: 0;
    margin-top: 1rem;

    letter-spacing: 0.2rem;
}

.show__table {
    width: 60%;
    margin-top: 1rem;
    margin-right: auto;
    margin-left: auto;

    border-collapse: collapse;

    text-align: left;

    border: 1px solid black;
}

.show__th {
    font-weight: bold;

    padding: 8px;

    border: 1px solid #333;
    background-color: #050505;
}

.show__td {
    padding: 8px;

    border: 1px solid #333;
}

.show__input {
    font-size: 1.25rem;

    width: 15rem;
    height: 4.2rem;
    margin: 0.5rem auto;

    letter-spacing: 0.1rem;

    color: #ccc;
    border: solid 0.1rem #333;
    border-radius: 0.1rem;
    background-color: rgb(10, 10, 10);
}

.show__input:hover {
    cursor: pointer;
    transition: 0.7s;

    color: #111;
    background-color: #aaa;
}

/* delete */

.delete {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    min-height: 100vh;

    color: #ccc;
}

.delete__form {
    position: relative;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    width: 31.125rem;
    min-height: 50vh;
    margin-top: 1rem;
    padding: 1rem;

    border-radius: 0.2rem;
    background-color: rgba(7, 7, 7, 0.65);
}

.delete__buttons {
    display: flex;

    margin-top: 3.5rem;

    gap: 1rem;
}

.delete__input {
    font-size: 1rem;

    width: 10rem;
    height: 3rem;
    margin: 1rem auto;

    letter-spacing: 0.1rem;

    color: #ccc;
    border: solid 0.1rem #333;
    border-radius: 0.1rem;
    background-color: rgb(7, 7, 7);
}

.delete__input:hover {
    cursor: pointer;
    transition: 0.7s;

    color: #111;
    background-color: #aaa;
}

/* edit */

.edit {
    display: flex;
    justify-content: center;

    width: 100%;
    min-height: 100vh;

    color: #ccc;
}

.edit__form {
    position: relative;

    display: flex;
    align-items: center;
    flex-direction: column;

    width: 31.125rem;
    min-height: 90vh;
    margin-top: 1rem;
    padding: 1rem;

    border-radius: 0.2rem;
    background-color: rgba(7, 7, 7, 0.65);
}

.edit__header {
    font-size: 3rem;

    margin: 0;
    margin-top: 1rem;

    letter-spacing: 0.2rem;
}

.edit__container {
    display: flex;
    flex-direction: column;
}

.edit__container > label {
    margin-top: 0.5rem;
    margin-left: -0.2rem;
    padding: 0.2rem 0;

    letter-spacing: 0.1rem;
}

.edit__container > input {
    width: 22rem;
    padding: 0.7rem;

    color: #ccc;
    border: none;
    border-bottom: 0.1rem solid #777;
    outline: none;
    background: none;
}

.edit__buttons {
    display: flex;

    margin-top: 1rem;

    gap: 1rem;
}

.edit__buttons > input,
.edit__link > input {
    font-size: 1rem;

    width: 10rem;
    height: 3rem;
    margin: 1rem auto;

    letter-spacing: 0.1rem;

    color: #ccc;
    border: solid 0.1rem #333;
    border-radius: 0.1rem;
    background-color: rgb(7, 7, 7);
}

.edit__buttons > input:hover,
.edit__link > input:hover {
    cursor: pointer;
    transition: 0.7s;

    color: #111;
    background-color: #aaa;
}

.edit select {
    color: #ccc;
    background-color: #111;
}

/* add */

.add {
    display: flex;
    justify-content: center;

    width: 100%;
    min-height: 100vh;

    color: #ccc;
}

.add__form {
    position: relative;

    display: flex;
    align-items: center;
    flex-direction: column;

    width: 31.125rem;
    min-height: 90vh;
    margin-top: 1rem;
    padding: 1rem;

    border-radius: 0.2rem;
    background-color: rgba(7, 7, 7, 0.65);
}

.add__header {
    font-size: 3rem;

    margin: 0;
    margin-top: 1rem;

    letter-spacing: 0.2rem;
}

.add__container {
    display: flex;
    flex-direction: column;
}

.add__container > label {
    margin-top: 0.5rem;
    margin-left: -0.2rem;
    padding: 0.2rem 0;

    letter-spacing: 0.1rem;
}

.add__container > input {
    width: 22rem;
    padding: 0.7rem;

    color: #ccc;
    border: none;
    border-bottom: 0.1rem solid #777;
    outline: none;
    background: none;
}

.add__buttons {
    display: flex;

    margin-top: 1rem;

    gap: 1rem;
}

.add__buttons > input,
.add__link > input {
    font-size: 1rem;

    width: 10rem;
    height: 3rem;
    margin: 1rem auto;

    letter-spacing: 0.1rem;

    color: #ccc;
    border: solid 0.1rem #333;
    border-radius: 0.1rem;
    background-color: rgb(7, 7, 7);
}

.add__buttons > input:hover,
.add__link > input:hover {
    cursor: pointer;
    transition: 0.7s;

    color: #111;
    background-color: #aaa;
}

.add select {
    color: #ccc;
    background-color: #111;
}

@media(max-width: 1000px) {
    .panel__form {
        width: 22rem;
        min-height: 0;
    }
}

@media(max-width: 1150px) {
    .mini-nav {
        position: absolute;
        top: 87%;
        left: 0;

        width: 100%;

        text-align: center;
    }

    .mini-nav-panel {
        position: absolute;
        top: 105%;
        left: 0;

        width: 100%;

        text-align: center;
    }

    .mini-nav-list {
        position: absolute;
        top: 106%;
        left: 0;

        width: 100%;

        text-align: center;
    }

    .list__form {
        padding-bottom: 10rem;
    }
}
