@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;1,400&display=swap');

body {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover!important;
    background: linear-gradient(rgba(0, 0, 0, 0.86), rgba(0, 0, 0, 0.86)),url("../img/ticket_buy-01.jpg");
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Montserrat', sans-serif;
}

.plan {
    width: 100%;
    display: flex;
    justify-content: center;
    color: #ccc;
}

.plan__form {
    width: 40%;
    display: flex;
    flex-direction: column;
    background-color: rgba(7, 7, 7, 0.65);
    min-height: 90vh;
    margin-top: 1rem;
    border-radius: 0.2rem;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1.5rem;
    position: relative;
}

.plan__header {
    font-size: 3rem;
    letter-spacing: 0.2rem;
    margin: 0;
    margin-top: 1rem;
    position: absolute;
    top: 4%;
}

.plan__form > p {
    margin-top: 5rem;
}

.plan__button {
    width: 15rem;
    margin: 0.5rem auto;
    height: 4.2rem;
    font-size: 1.25rem;
    background-color: rgb(10, 10, 10);
    border-radius: 0.1rem;
    border: solid 0.1rem #333;
    color: #ccc;
    letter-spacing: 0.1rem;
}

.plan__button:hover {
    cursor: pointer;
    background-color: #aaa;
    color: #111;
    transition: 0.7s;
}

.mini-nav {
    position: fixed;
    top: 88%;
    left: 82%;
}

.mini-nav > a {
    font-size: 1.5rem;
    text-decoration: none;
    border: 0.1rem solid #999;
    padding: 0.6rem;
    color: #ccc;
}