@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;1,400&display=swap');

body {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover!important;
    background: linear-gradient(rgba(0, 0, 0, 0.86), rgba(0, 0, 0, 0.86)),url("../img/ticket_buy-01.jpg");
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Montserrat', sans-serif;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    color: #ccc;
}

form {
    width: 40%;
    display: flex;
    flex-direction: column;
    background-color: rgba(7, 7, 7, 0.65);
    min-height: 90vh;
    margin-top: 1rem;
    border-radius: 0.2rem;
    padding: 1rem;
    align-items: center;
    text-align: center;
    gap: 2rem;
    justify-content: center;
}

form > a {
    color: #ccc;
    text-decoration: none;
}

form > a > div {
    border: 0.1rem solid #ccc;
    padding: 3.5rem 2rem;
    font-size: 1rem;
}

form > a:first-child > div {
    padding: 3rem 6.4rem;
}

form > a > div:hover {
    cursor: pointer;
    border: 0.1rem solid #888;
}

form > a > div > i {
    font-size: 7rem;
}

form > a > div > p {
    font-size: 3rem;
    margin: 0;
    margin-top: 1rem;
    letter-spacing: 0.2rem;
}

.mini-nav {
    position: fixed;
    top: 88%;
    left: 82%;
}

.mini-nav > a {
    font-size: 1.5rem;
    text-decoration: none;
    border: 0.1rem solid #999;
    padding: 0.6rem;
    color: #ccc;
}