@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;1,400&display=swap');

* {
    font-family: 'Montserrat', sans-serif;

    margin: 0;
    padding: 0;

    color: #ccc;
    border: 0;
}

body {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 100vh;

    background: linear-gradient(rgba( 0, 0, 0, 0.86) , rgba( 0, 0, 0, 0.86) ) , url( "../img/registration-01.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover!important;
}

.form {
    display: flex;
    flex-direction: column;

    padding-bottom: 10rem;
}

.form__header,
.form__header__secondary {
    font-weight: 300;

    margin-top: 1rem;
    padding: 1rem;
}

.form__label {
    margin-top: 1rem;
    margin-left: -0.2rem;

    letter-spacing: 0.08rem;
}

.form > input {
    padding: 0.7rem;

    border-bottom: 0.1rem solid #888;
    outline: none;
    background: none;
}

.regulations {
    padding: 1rem 0;
}

.regulations__input:hover,
.regulations__label:hover {
    cursor: pointer;
}

.form__submit {
    font-size: 1rem;

    width: 10rem;
    height: 3rem;
    margin: 0.5rem auto;

    border: solid 0.1rem #333;
    border-radius: 0.1rem;
    background-color: rgb(7, 7, 7);
}

.form__submit:hover {
    cursor: pointer;
    transition: 0.7s;

    color: #111;
    background-color: #aaa;
}

.registration > span {
    margin: auto;
    padding-top: 1rem;
    padding-bottom: 3rem;
}

.mini-nav {
    position: fixed;
    top: 88%;
    left: 82%;
}

.mini-nav > a {
    font-size: 1.5rem;

    padding: 0.6rem;

    text-decoration: none;

    border: 0.1rem solid #999;
}

::-webkit-calendar-picker-indicator {
    cursor: pointer;
    transform: scale(1.2);

    background-color: #ccc;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}

@media(max-width: 1100px) {
    .mini-nav {
        position: absolute;
        top: 92%;
        left: 0;

        width: 100%;

        text-align: center;
    }
}
