@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;1,400&display=swap');

* {
    font-family: 'Montserrat', sans-serif;

    margin: 0;
    padding: 0;

    color: #ccc;
    border: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 100vh;

    background: linear-gradient(rgba( 0, 0, 0, 0.86) , rgba( 0, 0, 0, 0.86) ) , url( "../img/registration-01.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover!important;
}

.form {
    display: flex;
    flex-direction: column;

    width: 25rem;
    padding: 1rem;
}

.form__text {
    text-align: justify;
}

.form__label {
    margin-top: 1rem;
}

.form__input {
    padding: 0.7rem;

    border-bottom: 0.1rem solid #888;
    outline: none;
    background: none;
}

.form__submit {
    font-size: 1rem;

    width: 10rem;
    height: 3rem;
    margin: 1rem auto;

    border: solid 0.1rem #333;
    border-radius: 0.1rem;
    background-color: rgb(7, 7, 7);
}

.form__submit:hover {
    cursor: pointer;
    transition: 0.7s;

    color: #111;
    background-color: #aaa;
}

.form__link {
    text-decoration: none;
}

.form__link:hover {
    color: #bbb;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}
