@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;1,400&display=swap');

body {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover!important;
    background: linear-gradient(rgba(0, 0, 0, 0.86), rgba(0, 0, 0, 0.86)),url("../img/ticket_buy-01.jpg");
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Montserrat', sans-serif;
}

.ticket {
    width: 100%;
    display: flex;
    justify-content: center;
    color: #ccc;
}

.ticket__form {
    width: 31.125rem;
    display: flex;
    flex-direction: column;
    background-color: rgba(7, 7, 7, 0.65);
    min-height: 90vh;
    margin-top: 1rem;
    border-radius: 0.2rem;
    padding: 1rem;
    align-items: center;
    position: relative;
}

.ticket__container {
    display: flex;
    flex-direction: column;
}

.ticket__header {
    text-align: center;
    letter-spacing: 0.1rem;
}

.ticket__header__secondary {
    letter-spacing: 0.1rem;
    font-size: 1.25rem;
    padding: 0.3rem;
    margin-left: -0.5rem;
}

.ticket__label {
    padding: 0.2rem 0;
    margin-top: 0.5rem;
    letter-spacing: 0.1rem;
    margin-left: -0.2rem;
}

.ticket__input { 
    background: none;
    padding: 0.7rem;
    outline: none;
    width: 22rem;
    border: none;
    border-bottom: 0.1rem solid #777;
    color: #ccc;
}

.ticket__select {
    margin-top: 0.5rem;
    background: none;
    padding: 0.5rem;
    font-family: 'Montserrat', sans-serif;
    color: #ccc;
}

.ticket__select:hover {
    cursor: pointer;
}

.ticket__option {
    background-color: black;
    letter-spacing: 0.1rem;
    color: #ccc;
}

.ticket__option:hover {
    cursor: pointer;
}

.ticket__submit {
    width: 10rem;
    margin: 1rem auto;
    height: 3rem;
    font-size: 1rem;
    background-color: rgb(7, 7, 7);
    border-radius: 0.1rem;
    border: solid 0.1rem #333;
    color: #ccc;
    letter-spacing: 0.1rem;
}

.ticket__submit:hover {
    cursor: pointer;
    background-color: #aaa;
    color: #111;
    transition: 0.7s;
}

.mini-nav {
    position: fixed;
    top: 88%;
    left: 82%;
}

.mini-nav > a {
    font-size: 1.5rem;
    text-decoration: none;
    border: 0.1rem solid #999;
    padding: 0.6rem;
    color: #ccc;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}

::-webkit-calendar-picker-indicator{
    transform:scale(1.2);
    cursor:pointer;
    background-color: #ccc;
}

@media (max-width: 1150px) {
    .mini-nav {
        width: 100%;
        left: 0;
        text-align: center;
        position: absolute;
        top: 155%;
    }
}