@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;1,400&display=swap');

body {
    font-family: 'Montserrat', sans-serif;

    margin: 0;
    padding: 0;

    border: 0;
    background: linear-gradient(rgba( 0, 0, 0, 0.86) , rgba( 0, 0, 0, 0.86) ) , url( "../img/ticket_buy-01.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover!important;
}

.ticket {
    display: flex;
    justify-content: center;

    width: 100%;

    color: #ccc;
}

.ticket__form {
    position: relative;

    display: flex;
    align-items: center;
    flex-direction: column;

    width: 31.125rem;
    min-height: 90vh;
    margin-top: 1rem;
    padding: 1rem;

    border-radius: 0.2rem;
    background-color: rgba(7, 7, 7, 0.65);
}

.ticket__container {
    display: flex;
    flex-direction: column;
}

.ticket__header {
    text-align: center;
    letter-spacing: 0.1rem;
}

.ticket__header__secondary {
    font-size: 1.25rem;

    margin-left: -0.5rem;
    padding: 0.3rem;

    letter-spacing: 0.1rem;
}

.ticket__label {
    margin-top: 0.5rem;
    margin-left: -0.2rem;
    padding: 0.2rem 0;

    letter-spacing: 0.1rem;
}

.ticket__input {
    width: 22rem;
    padding: 0.7rem;

    color: #ccc;
    border: none;
    border-bottom: 0.1rem solid #777;
    outline: none;
    background: none;
}

.ticket__select {
    font-family: 'Montserrat', sans-serif;

    margin-top: 0.5rem;
    padding: 0.5rem;

    color: #ccc;
    background: none;
}

.ticket__select:hover {
    cursor: pointer;
}

.ticket__option {
    letter-spacing: 0.1rem;

    color: #ccc;
    background-color: black;
}

.ticket__option:hover {
    cursor: pointer;
}

.ticket__submit {
    font-size: 1rem;

    width: 10rem;
    height: 3rem;
    margin: 1rem auto;

    letter-spacing: 0.1rem;

    color: #ccc;
    border: solid 0.1rem #333;
    border-radius: 0.1rem;
    background-color: rgb(7, 7, 7);
}

.ticket__submit:hover {
    cursor: pointer;
    transition: 0.7s;

    color: #111;
    background-color: #aaa;
}

.mini-nav {
    position: fixed;
    top: 88%;
    left: 82%;
}

.mini-nav > a {
    font-size: 1.5rem;

    padding: 0.6rem;

    text-decoration: none;

    color: #ccc;
    border: 0.1rem solid #999;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}

::-webkit-calendar-picker-indicator {
    cursor: pointer;
    transform: scale(1.2);

    background-color: #ccc;
}

@media(max-width: 1150px) {
    .mini-nav {
        position: absolute;
        top: 155%;
        left: 0;

        width: 100%;

        text-align: center;
    }
}
