{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pocałunek Neptuna</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static '/css/accountant_panel.css' %}">
</head>
<body>
    <section class="accountancy">
        <form class="accountancy__form" action="">
            <h1 class="accountancy__header" >Rachunkowość</h1>

            <div class="accountancy__list">
                <table class="accountancy__table">
                    <tr class="accountancy__tr">
                        <th class="accountancy__th">ID</th>
                        <th class="accountancy__th">Cena</th>
                        <th class="accountancy__th">Data Zakupu</th>
                    </tr>
                    {% for ticket in tickets %}
                    <tr class="accountancy__tr">
                        <td class="accountancy__td">{{ ticket.id }}</td>
                        <td class="accountancy__td">{{ ticket.price }}zł</td>
                        <td class="accountancy__td">{{ ticket.dateOfPurchase|date:'Y-m-d | H:i' }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <p class="accountancy__result" >Suma cen biletów: {{ tickets_sum }}zł</p>

            <div class="accountancy__buttons">
                <a class="accountancy__link" href="{% url 'accountant_panel' %}">
                    <input class="accountancy__input" type="button" value="Wróć">
                </a>
            </div>
        </form>

        <nav class="mini-nav">
            <a href="{% url 'home' %}">Strona Główna</a>
        </nav>
    </section>
</body>
</html>