{% load static %}
<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pocałunek Neptuna</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="{% static '/css/index.css' %}">
</head>

<body>
    <a href="#"><i class="to-top fa-solid fa-arrow-up"></i></a>
    <a href="#swimming-pool"><i class="to-bottom fa-solid fa-arrow-down"></i></a>
    <section class="home-page">
        <nav>
            <ul>
                <li> <a href="#swimming-pool"> Basen</a></li>
                <li> <a href="#gym">Siłownia</a> </li>
                <li> <a href="#spa"> SPA</a></li>
                <li> <a href="#aboutus"> O nas</a></li>
                <li> <a href="#contact"> Kontakt</a></li>
                {% if request.user.is_authenticated %}
                <li> <a href="{% url 'logout' %}">Wyloguj</a></li>
                {% else %}
                <li> <a href="{% url 'login' %}">Zaloguj się</a></li>
                {% endif %}
                {% for group in request.user.groups.all %}
                    {% if group.name == 'manager' %}
                        <li class=""> <a href="{% url 'manager_panel' %}">Panel</a></li>
                    {% endif %}
                {% endfor %}
                {% for group in request.user.groups.all %}
                    {% if group.name == 'ksiegowa' %}
                        <li class=""> <a href="{% url 'accountant_panel' %}">Panel</a></li>
                    {% endif %}
                {% endfor %}
                {% for group in request.user.groups.all %}
                    {% if group.name == 'recepcjonista' %}
                        <li class=""> <a href="{% url 'receptionist_panel' %}">Panel</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>
        {% if messages %}
        {% for message in messages %}
        {% if message.tags %}
        <div class="message">{{ message }}</div>
        {% endif %}
        {% endfor %}
        {% endif %}
        <h1>Pocałunek Neptuna</h1>
    </section>

    <section class="offers" id="swimming-pool">
        <img src="{% static 'img/offers-01.jpg' %}" alt="">
        <div>
            <h2>Basen</h2>
            <p>Strefa basenowa to miejsce pełne relaksu i rozrywki. Wokół basenu znajdują się przestronne tarasy z leżakami i parasolami, dzięki czemu można cieszyć się słońcem i odpocząć po kąpieli. W strefie basenowej znajduje się także bar, gdzie można zamówić orzeźwiające napoje i przekąski. Całość jest otoczona pięknym ogrodem, który dodaje jeszcze więcej uroku temu już i tak wyjątkowemu miejscu.</p>
            <a href="{% url 'ticket_buy_swimming_pool' %}">
                <input type="submit" value="Sprawdź">
            </a>
        </div>
    </section>

    <section class="offers" id="gym">
        <div>
            <h2>Siłownia</h2>
            <p>Strefa siłowni to miejsce, gdzie można skupić się na swoim ciele i zdrowiu. Jest tam wiele nowoczesnych i profesjonalnych maszyn treningowych, które pozwalają na ćwiczenie różnych partii ciała. Są tam także przestronne maty do rozciągania i strefy cardio, gdzie można biegać, jeździć na rowerze czy bieżni. Wszystko to jest otoczone przestronnymi oknami, dzięki czemu można cieszyć się pięknym widokiem z zewnątrz.</p>
            <a href="{% url 'ticket_buy_gym' %}">
                <input type="submit" value="Sprawdź">
            </a>
        </div>
        <img src="{% static '/img/offers-02.jpg' %}" alt="">
    </section>

    <section class="offers" id="spa">
        <img src="{% static '/img/offers-03.jpg' %}" alt="">
        <div>
            <h2>SPA</h2>
            <p>Strefa siłowni to miejsce, gdzie można skupić się na swoim ciele i zdrowiu. Jest tam wiele nowoczesnych i profesjonalnych maszyn treningowych, które pozwalają na ćwiczenie różnych partii ciała. Są tam także przestronne maty do rozciągania i strefy cardio, gdzie można biegać, jeździć na rowerze czy bieżni. Wszystko to jest otoczone przestronnymi oknami, dzięki czemu można cieszyć się pięknym widokiem z zewnątrz.</p>
            <a href="{% url 'ticket_buy_spa' %}">
                <input type="submit" value="Sprawdź">
            </a>
        </div>
    </section>

    <section class="aboutus" id="aboutus">
        <img src="{% static '/img/aboutus-01.jpg' %}" alt="">
        <div>
            <h3>O nas</h3>
            <p>Nasza firma została założona ponad 40 lat temu przez założyciela, który marzył o stworzeniu miejsca, w którym ludzie mogliby odpocząć od codzienności i zadbać o swoje ciało i ducha. Od samego początku naszym celem było stworzenie miejsca, gdzie każdy mógłby znaleźć coś dla siebie, bez względu na wiek czy poziom zaawansowania. Nasza oferta rozwijała się na przestrzeni lat, a my stale inwestowaliśmy w nowoczesne i profesjonalne sprzęty oraz szkoliliśmy personel, aby zapewnić najwyższą jakość usług. </p>
        </div>
    </section>

    <div class="break"></div>

    <section class="contact" id="contact">
        <form action="." method="POST">
            {% csrf_token %}
            <h4>Skontaktuj się z nami</h4>
            <label for="name">Imie i nazwisko</label>
            {{ form.name }}
            <label for="Email">Email</label>
            {{ form.email }}
            <label for="Wiadomość">Wiadomość</label>
            {{ form.message }}
            <input type="submit" value="Wyślij">
        </form>
        <div class="contact-information">
            <h4>Informacje Kontaktowe</h4>
            <p>Jesteśmy otwarci na wszelkie sugestie</p>
            <div>
                <i class="fa-solid fa-location-pin"></i>
                <p>
                    Adres: Olsztyn 10-230, Nowogrodzka 66b
                </p>
            </div>
            <div>
                <i class="fa-solid fa-phone"></i>
                <p>
                    Telefon: +48 560 304 430
                </p>
            </div>
            <div>
                <i class="fa-solid fa-paper-plane"></i>
                <p>
                    Email: PocalunekNeptuna@site.com
                </p>
            </div>
        </div>
    </section>

    <section class="complaint" id="complaint">
        <h5>Zgłoś reklamację</h5>
        <div class="complaint-container">
            <div class="complaint-information">
                <p>
                    W naszej firmie dbamy o zadowolenie naszych klientów, dlatego też chcemy, aby każdy z Państwa miał pewność, że jego ewentualne reklamacje będą rozpatrywane szybko i sprawiedliwie. W razie jakichkolwiek problemów z prosimy o kontakt z naszym działem obsługi klienta, który chętnie pomoże Państwu rozwiązać każdy problem.W treści reklamacji prosimy o podanie swoich danych kontaktowych, opis problemu oraz ewentualnego załączenia zdjęć czy innych dokumentów potwierdzających reklamację. Reklamacje rozpatrujemy w ciągu 14 dni roboczych od daty ich otrzymania. W przypadku skomplikowanych reklamacji czas ten może ulec wydłużeniu, jednak zawsze poinformujemy Państwa o tym fakcie i będziemy informować o postępach rozpatrywania reklamacji. <br><br> Dziękujemy za zaufanie i zachęcamy do kontaktu w przypadku jakichkolwiek pytań czy wątpliwości.
                </p>
            </div>
            <form action="">
                <label for="ticket-id">Numer Identyfikacjny Biletu</label>
                <input type="text" name="ticket-id">
                <label for="ticket-description">Opis reklamacji</label>
                <textarea name="ticket-description" id="" cols="30" rows="10"></textarea>
                <input type="submit" value="Zgłoś">
            </form>
        </div>
        
    </section>

    <script src="{% static '/js/index.js' %}"></script>
</body>

</html>