{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pocałunek Neptuna</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="{% static '/css/manager_employees_show.css' %}">
</head>
<body>
    <main>
        <form action="">
            <h1>Dane Pracownika</h1>
            <table>
                <tr>
                    <td>ID</td><td>{{ worker.id }}</td>
                </tr>
                <tr>
                    <td>Imię</td><td>{{ worker.name }}</td>
                </tr>
                <tr>
                    <td>Nazwisko</td><td>{{ worker.surname }}</td>
                </tr>
                <tr>
                    <td>Numer Telefonu</td><td>{{ worker.phoneNumber }}</td>
                </tr>
                <tr>
                    <td>E-mail</td><td>{{ worker.email }}</td>
                </tr>
                <tr>
                    <td>Pesel</td><td>{{ worker.pesel }}</td>
                </tr>
                <tr>
                    <td>Ulica</td><td>{{ workerAddress.street }}</td>
                </tr>
                <tr>
                    <td>Numer Domu</td><td>{{ workerAddress.houseNumber }}</td>
                </tr>
                <tr>
                    <td>Numer Mieszkania</td><td>{{ workerAddress.flatNumber }}</td>
                </tr>
                <tr>
                    <td>Kod Pocztowy</td><td>{{ workerAddress.postcode }}</td>
                </tr>
                <tr>
                    <td>Miejscowość</td><td>{{ workerAddress.placeName }}</td>
                </tr>
            </table>
            
            <a href="{% url 'manager_employees' %}">
                <input type="button" value="Wróć">
            </a>
        </form>

        <nav class="mini-nav">
            <a href="{% url 'home' %}">Strona Główna</a>
        </nav>
    </main>
</body>
</html>