{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pocałunek Neptuna</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static '/css/manager_employees.css' %}">
</head>
<body>
    <section class="workers">
        <form class="workers__form" action="">
            <h1 class="workers__header">Lista pracowników</h1>
            
            <div class="workers__list">
                <table class="workers__table">
                    <tr class="workers__tr">
                        <th class="workers__th">ID</th>
                        <th class="workers__th">Imię</th>
                        <th class="workers__th">Nazwisko</th>
                        <th class="workers__th">Telefon</th>
                        <th class="workers__th">Szczegóły</th>
                        <th class="workers__th">Usuń</th>
                        <th class="workers__th">Edytuj</th>
                    </tr>
                    {% for worker in workers %}
                    <tr class="workers__tr">
                        <td class="workers__td">{{worker.id}}</td>
                        <td class="workers__td">{{worker.name}}</td>
                        <td class="workers__td">{{worker.surname}}</td>
                        <td class="workers__td">{{worker.phoneNumber}}</td>
                        <td class="workers__td">
                            <input 
                            class="workers__input__td"
                            type="button" 
                            name="worker_id" 
                            value="Szczegóły" 
                            onclick="location.href='{% url 'manager_employees_show' worker_id=worker.id %}'">
                        </td>
                        <td class="workers__td">
                            <input 
                            class="workers__input__td"
                            type="button" 
                            name="worker_id"
                            value="Usuń" 
                            onclick="location.href='{% url 'manager_employees_delete' worker_id=worker.id %}'">
                            </td>
                        <td class="workers__td">
                            <input 
                            class="workers__input__td"
                            type="button" 
                            name="worker_id" 
                            value="Edytuj" 
                            onclick="location.href='{% url 'manager_employees_edit' worker_id=worker.id %}'">
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>

            <div class="workers__buttons">
                <a class="workers__link" href="{% url 'manager_employees_add' %}">
                    <input class="workers__input__link" type="button" value="Dodaj" >
                </a>

                <a class="workers__link" href="{% url 'manager_panel' %}">
                    <input class="workers__input__link" type="button" value="Wróć">
                </a>
            </div>
        </form>

        <nav class="mini-nav">
            <a href="{% url 'home' %}">Strona Główna</a>
        </nav>
    </section>
</body>
</html>