{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pocałunek Neptuna</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="{% static '/css/manager_employees.css' %}">
</head>
<body>
    <main>
        <form action="">
            <h1>Lista pracowników</h1>
            <div class="list">
                <table>
                    <tr>
                        <th>Imię</th><th>Nazwisko</th><th>Nr Telefonu</th><th></th>
                    </tr>
                    {% for worker in workers %}
                    <tr>
                        <td>{{worker.name}}</td><td>{{worker.surname}}</td><td>{{worker.phoneNumber}}</td><td><input type="radio" name="worker_id" value="{{ worker.id }}" onclick="location.href='{% url 'manager_employees_show' worker_id=worker.id %}'"></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>

            <div class="buttons">
                <a href="{% url 'manager_employees_add' %}">
                    <input type="button" value="Dodaj" >
                </a>

                <a href="{% url 'manager_employees_add' %}">
                    <input type="button" value="Dodaj" >
                </a>
    
                <a href="{% url 'manager_employees_delete' %}">
                    <input type="button" value="Usuń">
                </a>
                
                <a href="{% url 'manager_panel' %}">
                    <input type="button" value="Wróć">
                </a>
            </div>

        </form>

        <nav class="mini-nav">
            <a href="{% url 'home' %}">Strona Główna</a>
        </nav>
    </main>
</body>
</html>