{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pocałunek Neptuna</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="{% static '/css/manager_panel.css' %}">
</head>
<body>
    <section class="plan">
        <form class="plan__form" action="">
            <h1 class="plan__header">Grafik</h1>
            <p></p>
            <a class="plan__link" href="{% url 'manager_plan_list'%}">
                <input class="plan__button" type="button" value="Wyświetl">
            </a>
            <a class="plan__link" href="{% url 'manager_panel_shift_add' %}">
                <input class="plan__button" type="button" value="Dodaj">
            </a>
            <a class="plan__link" href="{% url 'manager_panel' %}">
                <input class="plan__button" type="button" value="Wróć">
            </a>
        </form>

        <nav class="mini-nav">
            <a href="{% url 'home' %}">Strona Główna</a>
        </nav>
    </section>
</body>
</html>