{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pocałunek Neptuna</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static '/css/registration.css' %}">
</head>

<body>
    <main>
        <form action="" class="registration" method="POST">
            {% csrf_token %}
            <h1>Dane rejestracyjne</h1>
            <label for="first-name">Email</label>
            {{ userForm.username }}

            <label for="pesel">Powtórz email</label>
            {{ clientForm.email }}

            <label for="password">Hasło</label>
            {{ userForm.password1 }}

            <label for="repeat-password">Powtórz hasło</label>
            {{ userForm.password2 }}

            <label for="first-name">Imię</label>
            {{ clientForm.name }}

            <label for="last-name">Nazwisko</label>
            {{ clientForm.surname }}

            <label for="phone-number">Numer telefonu</label>
            {{ clientForm.phoneNumber }}

            <label for="pesel">Pesel</label>
            {{ clientForm.pesel }}

            <h2>Adres zamieszkania</h2>
            <label for="place">Ulica</label>
            {{ clientAddressForm.street }}

            <label for="place">Numer domu</label>
            {{ clientAddressForm.houseNumber }}

            <label for="place">Numer mieszkania</label>
            {{ clientAddressForm.flatNumber }}

            <label for="postcode">Kod pocztowy</label>
            <!-- <input type="text" pattern="[0-9]{5}" name="postcode"> -->
            {{ clientAddressForm.postcode }}

            <label for="address">Miasto</label>
            {{ clientAddressForm.placeName }}

            <div class="regulations-box">
                <input type="checkbox" name="regulations">
                <label for="regulations">Zapoznałem się z <a href="{% url 'regulations' %}">regulaminem.</a></label>
            </div>

            <button type="submit" name="register">Zarejestruj</button>

            <span>Masz już konto? <a href="{% url 'login' %}">Zaloguj się.</a></span>
        </form>

        <nav class="mini-nav">
            <a href="{% url 'home' %}">Strona Główna</a>
        </nav>
    </main>
    
</body>
</html>