{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pocałunek Neptuna</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static '/css/registration.css' %}">
</head>

<body>
    <form class="form" action="" method="POST">
        {% csrf_token %}
        <h1 class="form__header">Dane rejestracyjne</h1>

        <label class="form__label" for="first-name">Email</label>
        {{ userForm.username }}

        <label class="form__label" for="pesel">Powtórz email</label>
        {{ clientForm.email }}

        <label class="form__label" for="password">Hasło</label>
        {{ userForm.password1 }}

        <label class="form__label" for="repeat-password">Powtórz hasło</label>
        {{ userForm.password2 }}

        <label class="form__label" for="first-name">Imię</label>
        {{ clientForm.name }}

        <label class="form__label" for="last-name">Nazwisko</label>
        {{ clientForm.surname }}

        <label class="form__label" for="phone-number">Numer telefonu</label>
        {{ clientForm.phoneNumber }}

        <label class="form__label" for="pesel">Pesel</label>
        {{ clientForm.pesel }}

        <h2 class="form__header__secondary">Adres zamieszkania</h2>
        <label class="form__label" for="place">Ulica</label>
        {{ clientAddressForm.street }}

        <label class="form__label" for="place">Numer domu</label>
        {{ clientAddressForm.houseNumber }}

        <label class="form__label" for="place">Numer mieszkania</label>
        {{ clientAddressForm.flatNumber }}

        <label class="form__label" for="postcode">Kod pocztowy</label>
        <!-- <input type="text" pattern="[0-9]{5}" name="postcode"> -->
        {{ clientAddressForm.postcode }}

        <label class="form__label" for="address">Miasto</label>
        {{ clientAddressForm.placeName }}

        <div class="regulations">
            <input class="regulations__input" type="checkbox" name="regulations">
            <label class="regulations__label" for="regulations">Zapoznałem się z 
                <a class="regulations__link" href="{% url 'regulations' %}">regulaminem.</a>
            </label>
        </div>

        <button class="form__submit" type="submit" name="register">Zarejestruj</button>

        <span class="form__span" >Masz już konto? 
            <a class="form__link" href="{% url 'login' %}">
                Zaloguj się.
            </a>
        </span>
    </form>

    <nav class="mini-nav">
        <a href="{% url 'home' %}">Strona Główna</a>
    </nav>
</body>
</html>