{% load static %}
<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pocałunek Neptuna</title>

    <link rel="stylesheet" href="{% static '/css/remind-password.css' %}" />
  </head>

  <body>
    <form action="" class="form">
      <p class="form__text">
        Prosze podać swój adres e-mail używany podczas logowania się do serwisu
        i potwierdzić. Na podany adres zostanie wysłana wiadomość pozwalająca
        ustawić nowe hasło.
      </p>

      <label class="form__label" for="email">Email</label>

      <input class="form__input" type="email" name="email" />

      <button class="form__submit" type="submit">Potwierdź</button>

      <a class="form__link" href="{% url 'login' %}">Wróć do logowania</a>
    </form>
  </body>
</html>
